*{
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
}

.abstract-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5% 5% 0 5%;
    position: relative;
}
header {
   height: 30%;
   display:flex;
   justify-content: space-between;
}

.First-title-wrapper,.Second-title-wrapper{
    width: 400px;
    height: 100px;
}
.center-title-wrapper, .center-wrapper p {
    width: 250px;
    height: 50px;
}   
.Second-title-center-wrapper,
 .left-corner-center-wrapper{
    height: 100px;
    width: 10px;
    position: absolute;
}


.First-title-wrapper img, 
.Second-title-wrapper img, 
.center-title-wrapper img {
    width: 100%;
    height: auto;
}
.right-corner-wrapper, 
.left-corner-wrapper {
    width: 100px;
    height: 300px;
}
.right-corner-wrapper img, 
.left-corner-wrapper img, 
.Second-title-center-wrapper img, 
.left-corner-center-wrapper img {
    width: auto;
    height: 100%;
}
.central-container{
    height: 40%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 8px;

}
.center-wrapper{
    height: 250px;
    width: 500px;
    border: 6px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-title-wrapper, .central-container{
    position: relative;
    
}
.center-title-wrapper::after {
    background-color: #fff; 
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    width: 150px;
}
.center-wrapper p{
    padding-top: 2%;
}
.Second-title-center-wrapper{
    right: 34%;
    top: 10%;
}
.left-corner-center-wrapper{
    bottom: 12%;
    left: 34%;
}

.left-corner-wrapper, 
.Second-title-wrapper{
    position: absolute;
    bottom: 8%;
}
.Second-title-wrapper{
    right: 5%;
    float: right;
    bottom: 0;
}